project:
  type: website
  render:
    - "*.qmd"
    - "!_resources/"
  preview:
    port: 5555
    browser: false
    watch-inputs: true
    navigate: false

website:
  title: ""
  page-navigation: true
  favicon: "icons/fxemoji-rocket.svg"
  open-graph: true
  site-url: https://gmkquarto.netlify.app
  repo-url: https://github.com/gkapfham/www.gmk.com
  issue-url: https://github.com/gkapfham/www.gmk.com/issues/new
  repo-actions: [source, edit, issue]
  repo-branch: "master"
  search:
    location: navbar
    type: textbox
  reader-mode: false
  back-to-top-navigation: false
  navbar:
    tools:
      - icon: rss
        menu:
          - text: Blog
            url: blog/index.xml
          - text: Papers
            url: research/papers/index.xml
          - text: Presentations
            url: research/presentations/index.xml
    left:
      - href: index.qmd
        text: Home
      - text: "Teaching"
        menu:
          - text: "Overview"
            href: "teaching/index.qmd"
          - text: "Data Abstraction"
            href: "https://www.proactiveprogrammers.com"
          - text: "Discrete Structures"
            href: "https://www.proactiveprogrammers.com"
      - text: "Research"
        menu:
          - text: "Overview"
            href: research/index.qmd
          - text: "Papers"
            href: research/papers/index.qmd
          - text: "Presentations"
            href: research/presentations/index.qmd
      - text: "Outreach"
        menu:
          - text: "Software"
            href: software/index.qmd
          - text: "Service"
            href: service/index.qmd
          - text: "Blog"
            href: blog/index.qmd
  page-footer:
    left: "{{< fa copyright >}} GMK"
    center: '<a href="#" aria-label="Go to the top of the page">Top {{< fa circle-up >}}</a>'
    right:
      - icon: github
        href: https://github.com/gkapfham
      - icon: mastodon
        href: https://fosstodon.org/@gkapfham
      - icon: linkedin
        href: http://www.linkedin.com/in/GregKapfhammer
      - text: "{{< iconify academicons google-scholar size=22px >}}"
        href: http://scholar.google.com/citations?user=g0eDPjYAAAAJ
  twitter-card:
    creator: "@GregKapfhammer"
    card-style: summary_large_image

format:
  html:
    # do not use embed-resources: true because this
    # causes build times to take a very long time
    # and builds will normally crash with an out
    # of memory error from the JavaScript runtime
    embed-resources: false
    mainfont: IBM Plex Sans
    monofont: IBM Plex Mono
    fontsize: 1.375em
    theme:
      # light:
        - united
        - united-light.scss
      # dark:
        # - united
        # - united-dark.scss
    css: styles.css
    # css:
      # - styles.css
      # - united-dark.css
    toc: true
    toc-title: "Contents"
    code-copy: hover
    code-overflow: wrap
    code-fold: false
    code-tools: false
    highlight-style: gruvbox
    email-obfuscation: javascript
    # note: needs to be false so as to
    # ensure that the back to top button
    # in the footer of the page works correctly
    smooth-scroll: false
    link-external-icon: true
    link-external-newwindow: true
    citations-hover: true
    footnotes-hover: true
    citeproc: true
    appendix-style: default
    bibliography: bibliography/bibtex/bibliography_kapfhammer.bib
