project:
  type: website
  render:
    - "*.qmd"
    - "!_resources/"
  preview:
    port: 5555
    browser: false
    watch-inputs: true
    navigate: false

website:
  title: ""
  announcement:
    icon: megaphone
    dismissable: true
    content: 'I recently hosted an episode of <a href = "https://se-radio.net/">Software Engineering Radio</a> called <a href="https://se-radio.net/2025/11/se-radio-694-jennings-anderson-and-amy-rose-on-overture-maps/">\"Jennings Anderson and Amy Rose on Overture Maps\"</a>!'
    type: primary
  page-navigation: true
  favicon: "icons/fxemoji-rocket.svg"
  open-graph: true
  site-url: https://www.gregorykapfhammer.com/
  search: false
  reader-mode: false
  back-to-top-navigation: false
  navbar:
    left:
      - href: index.qmd
        text: Home
      - text: "Teaching"
        menu:
          - text: "Overview"
            href: "teaching/index.qmd"
          - text: "Algorithm Analysis"
            href: "https://www.algorithmology.org/"
          - text: "Document Engineering"
            href: "https://prosegrammers.com/"
      - text: "Research"
        menu:
          - text: "Overview"
            href: research/index.qmd
          - text: "Papers"
            href: research/papers/index.qmd
          - text: "Presentations"
            href: research/presentations/index.qmd
      - text: "Outreach"
        menu:
          - text: "Software"
            href: software/index.qmd
          - text: "Service"
            href: service/index.qmd
          - text: "Blog"
            href: blog/index.qmd
      - text: "About"
        menu:
          - text: "Biography"
            href: biography/index.qmd
          - text: "Schedule"
            href: schedule/index.qmd
          - text: "Contact"
            href: contact/index.qmd
    right:
      - text: "{{< fa rss >}}"
        menu:
          - text: Blog
            url: blog/index.xml
          - text: Service
            url: service/index.xml
          - text: Papers
            url: research/papers/index.xml
          - text: Presentations
            url: research/presentations/index.xml
  page-footer:
    left: "{{< fa copyright >}} GMK"
    center: '<a href="#" aria-label="Go to the top of the page">Top {{< fa circle-up >}}</a>'
    right:
      - icon: github
        href: https://github.com/gkapfham
      - icon: mastodon
        href: https://fosstodon.org/@gkapfham
      - icon: linkedin
        href: http://www.linkedin.com/in/GregKapfhammer
      - icon: google
        href: http://scholar.google.com/citations?user=g0eDPjYAAAAJ
  twitter-card:
    creator: "@GregKapfhammer"
    card-style: summary_large_image

format:
  html:
    # always load the header-include.html file
    # that defines the theme-color meta tag
    include-in-header:
      - file: _include/html/header-include.html
    # always load the instant-page.js script
    # that pre-fetches links person hovers over them
    include-after-body:
      - file: _include/js/instant-page.js
    # always display the page in full layout;
    # this seems to minimize the amount of
    # "jumping" that occurs when page loads
    # and there is a page with a non-full layout
    page-layout: full
    # do not use embed-resources: true because this
    # causes build times to take a very long time
    # and builds will normally crash with an out
    # of memory error from the JavaScript runtime
    embed-resources: false
    # do not use mathjax as it is a large download
    # and there is no math content inside of this site
    html-math-method: plain
    mainfont: IBM Plex Sans
    monofont: IBM Plex Mono
    fontsize: 1.375em
    # respect the user's color scheme preference
    # (so, if they have a dark theme set then it
    # should be used and, conversely, if they have
    # a light theme set then it should be used)
    respect-user-color-scheme: true
    # provide both a light and dark theme
    theme:
      light: [united, united-light.scss]
      dark: [united, united-dark.scss]
    # support a custom CSS file with additional
    # rules and overrides that apply to all
    # pages for both light and dark modes
    css: styles.css
    toc: true
    toc-title: "Contents"
    code-copy: false
    code-overflow: wrap
    code-fold: show
    code-tools: false
    code-summary: "Code"
    highlight-style: gruvbox
    code-block-bg: false
    code-block-border-left: "#e65100"
    email-obfuscation: javascript
    # note: needs to be false so as to
    # ensure that the back to top button
    # in the footer of the page works correctly
    smooth-scroll: false
    citations-hover: true
    footnotes-hover: true
    citeproc: true
    appendix-style: default
    bibliography: bibliography/bibtex/bibliography_kapfhammer.bib
