/*-- scss:defaults --*/

// Base document colors
$body-bg: #212121;
$body-color: #f5f5f5;
$link-color: #E95420;

.navbar-dark {
  background-color: #E95420 !important;
}

// Code blocks
$code-block-bg-alpha: -.8;
