/*-- scss:defaults --*/

// Defaults {{{

$body-bg: #212121;
$body-color: #bdbdbd;
$link-color: #ef6c00;

// }}}

// Search Box {{{

#quarto-search input {
  font-size: 0.925rem;
  background-color: #fdfeff;
}

.aa-Autocomplete .aa-Form,
.aa-DetachedFormContainer .aa-Form {
  align-items: center;
  background-color: #fdfeff !important;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #bdbdbd;
  display: flex;
  line-height: 1em;
  margin: 0;
  position: relative;
  width: 100%;
}

.aa-Autocomplete .aa-Form .aa-InputWrapperPrefix .aa-Label svg,
.aa-Autocomplete .aa-Form .aa-InputWrapperPrefix .aa-LoadingIndicator svg,
.aa-DetachedFormContainer .aa-Form .aa-InputWrapperPrefix .aa-Label svg,
.aa-DetachedFormContainer
  .aa-Form
  .aa-InputWrapperPrefix
  .aa-LoadingIndicator
  svg {
  color: #333 !important;
  opacity: 0.5;
}

// }}}

// Source Code {{{

// Code blocks
$code-block-bg-alpha: -0.9;

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
  color: #bdbdbd !important;
  background-color: #272727;
  padding: 0.5rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

// }}}

// Navbar {{{

.navbar-dark {
  background-color: #e65100 !important;
}

.navbar-dark .dropdown-text {
  color: #333333;
  text-align: inherit;
  text-decoration: none;
}

// }}}
