/*-- scss:defaults --*/

// Links {{{

// Base document colors
$link-color: #e65100;
$code-color: #98971a;

// }}}

// Colors {{{

// Define the color of the navbar
.navbar-light {
  background-color: #e65100 !important;
}

// }}}

// Source Code {{{

code {
  font-size: 0.875em;
  color: var(--bs-code-color);
  background-color: #fff !important;
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
  word-wrap: break-word;
}

// }}}

// Pagination {{{

.page-link.disabled,
.disabled>.page-link {
  color: var(--bs-pagination-disabled-border-color) !important;
  pointer-events: none;
  background-color: #fff !important;
  border-color: var(--bs-pagination-disabled-border-color);
}

ul.pagination li.disabled a,
ul.pagination li.active a {
  color: #343a40;
  text-decoration: none;
}

// }}}

// Get the Gist {{{

.form-check-input,
.shiny-input-container .checkbox input,
.shiny-input-container .checkbox-inline input,
.shiny-input-container .radio input,
.shiny-input-container .radio-inline input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #ef6c00 !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #ef6c00 !important;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

.toggle-container {
  background-color: rgba(233, 236, 239, 0.65);
  border: 1px solid rgba(233, 236, 239, 0.65);
  border-radius: 0.25rem;
}

// }}}
