# Basic workflow
name: Publish

# Controls when the action will run
# Workflow begins with push or PR events
# Focuses on the master branch only
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

# Jobs for setup, rendering, and publishing
# for the web site, using Python, uv,
# and the Quarto publishing system
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      # Repository
      - name: Check out Repository
        uses: actions/checkout@v3
        with:
          submodules: true
      # Install Quarto
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: 1.7.31
      # Install Python
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.14"
      # Install uv
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      # Setup the Virtual Environment
      - name: Setup Virtual Environment
        run: |
          uv sync
      # Render and Publish the Site
      # Note that this uses Quarto to
      # directly publish the site, which
      # means that you do not use Netlify
      # build minutes. This is great! Yet,
      # it also means that you do not get
      # a Netlify preview build for PRs.
      - name: Render and Publish
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          PYDEVD_DISABLE_FILE_VALIDATION: 1
        run: |
          python --version
          uv --version
          quarto --version
          uv run quarto check
          uv run python scripts/publish-site.py --stage all
          uv run python scripts/publish-site.py --stage render --render-file index.qmd
          uv run python scripts/publish-site.py --stage post-render
          uv run python scripts/publish-site.py --stage netlify
